<app-header titulo="AppAcad01">

</app-header>

<ion-content>
      


<ion-item>
  <ion-button routerLink="/dadospessoais">Dados Pessoais</ion-button>
</ion-item>

<ion-item>
  <ion-button routerLink="/financeiro">Financeiro</ion-button>
</ion-item>

<ion-item>
  <ion-button routerLink="/notas">Notas</ion-button>
</ion-item>

<!--<ion-button routerLink="/dadospessoais">Dados Pessoais</ion-button>
<ion-button routerLink="/financeiro">Dados Pessoais</ion-button>
<ion-button routerLink="/notas">Dados Pessoais</ion-button>
-->
</ion-content>
